 <div data-layer="Background" class="Background" style="width: 350px; height: 1200px; left: 0px; top: 0px; position: absolute; background: white; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
      <div data-layer="Container" class="Container" style="align-self: stretch; min-height: 120px; padding-left: 40px; padding-right: 40px; padding-top: 32px; padding-bottom: 32px; justify-content: flex-start; align-items: center; display: inline-flex">
        <div data-layer="Link" class="Link" style="justify-content: flex-start; align-items: center; gap: 24px; display: flex">
          <div data-layer="SVG" class="Svg" style="width: 56px; height: 56px; position: relative">
            <img data-layer="WhatsApp Image 2025-05-28 at 18.27.27" class="WhatsappImage20250528At182727" style="width: 56px; height: 56px; left: 0px; top: 0px; position: absolute" src="images/whatsapp_image_2025_05_28_at_18_27_27_1749274277647_206.png" />
          </div>
          <div data-layer="Heading 2" class="Heading2" style="flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
            <div data-layer="TravelParadise" class="Travelparadise" style="width: 230px; justify-content: center; display: flex; flex-direction: column; color: #1C2E45; font-size: 30px; font-family: Poppins; font-weight: 600; line-height: 45px; word-wrap: break-word">TravelParadise</div>
          </div>
        </div>
      </div>
      <div data-layer="Container" class="Container" style="align-self: stretch; height: 1080px; position: relative; overflow: hidden">
        <div data-layer="Container" class="Container" style="width: 270px; padding-top: 32px; padding-bottom: 32px; left: 40px; top: 0px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 136px; display: inline-flex">
          <div data-layer="List" class="List" style="align-self: stretch; padding-top: 8px; padding-bottom: 8px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: flex">
            <div data-layer="Item" class="Item" style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
              <div data-layer="Link" class="Link" style="align-self: stretch; padding-top: 16px; padding-bottom: 16px; padding-left: 24px; padding-right: 16px; position: relative; background: #1C2E45; border-radius: 16px; justify-content: flex-start; align-items: center; display: inline-flex">
                <div data-layer="Margin" class="Margin" style="padding-right: 24px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                  <div data-layer="SVG" class="Svg" style="width: 32px; height: 32px; position: relative">
                    <div data-layer="Vector" class="Vector" style="width: 32px; height: 32px; left: 0px; top: 0px; position: absolute; background: white"></div>
                    <div data-layer="Vector" class="Vector" style="width: 23.38px; height: 22.78px; left: 2.67px; top: 6.55px; position: absolute; background: white"></div>
                    <div data-layer="Vector" class="Vector" style="width: 13.31px; height: 12.38px; left: 16.03px; top: 2.66px; position: absolute; opacity: 0.40; background: white"></div>
                  </div>
                </div>
                <div data-layer="Container" class="Container" style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                  <div data-layer="Dashboard" class="Dashboard" style="align-self: stretch; justify-content: center; display: flex; flex-direction: column; color: white; font-size: 18px; font-family: Poppins; font-weight: 600; line-height: 27px; word-wrap: break-word">Dashboard</div>
                </div>
                <div data-layer="Container" class="Container" style="width: 270px; height: 64px; left: 0px; top: 0px; position: absolute; border-radius: 16px"></div>
              </div>
            </div>
            <div data-layer="Item" class="Item" style="align-self: stretch; opacity: 0.50; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
              <div data-layer="Link" class="Link" style="align-self: stretch; height: 64px; padding-top: 16px; padding-bottom: 16px; padding-left: 24px; padding-right: 16px; border-radius: 16px; justify-content: flex-start; align-items: center; display: inline-flex">
                <div data-layer="Margin" class="Margin" style="padding-right: 24px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                  <div data-layer="Img" class="Img" style="width: 32px; height: 32px; position: relative">
                    <div data-layer="Vector" class="Vector" style="width: 24px; height: 25.33px; left: 4px; top: 2.66px; position: absolute; background: #C97040"></div>
                  </div>
                </div>
                <div data-layer="Container" class="Container" style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                  <div data-layer="Tour Guides" class="TourGuides" style="align-self: stretch; justify-content: center; display: flex; flex-direction: column; color: #1C2E45; font-size: 18px; font-family: Poppins; font-weight: 400; line-height: 27px; word-wrap: break-word">Tour Guides</div>
                </div>
              </div>
            </div>
            <div data-layer="Item" class="Item" style="align-self: stretch; opacity: 0.50; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
              <div data-layer="Link" class="Link" style="align-self: stretch; flex: 1 1 0; padding-top: 16px; padding-bottom: 16px; padding-left: 24px; padding-right: 16px; position: relative; border-radius: 16px; justify-content: flex-start; align-items: center; display: inline-flex">
                <div data-layer="Margin" class="Margin" style="padding-right: 24px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                  <div data-layer="Img" class="Img" style="width: 32px; height: 32px; position: relative">
                    <div data-layer="Vector" class="Vector" style="width: 26.50px; height: 26.50px; left: 2.25px; top: 2.25px; position: absolute; background: #C97040"></div>
                  </div>
                </div>
                <div data-layer="Container" class="Container" style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                  <div data-layer="Visits" class="Visits" style="align-self: stretch; justify-content: center; display: flex; flex-direction: column; color: #1C2E45; font-size: 18px; font-family: Poppins; font-weight: 400; line-height: 27px; word-wrap: break-word">Visits</div>
                </div>
                <div data-layer="Container" class="Container" style="width: 270px; height: 64px; left: 0px; top: 0px; position: absolute; border-radius: 16px"></div>
              </div>
            </div>
            <div data-layer="Item" class="Item" style="align-self: stretch; opacity: 0.50; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
              <div data-layer="Link" class="Link" style="align-self: stretch; flex: 1 1 0; padding-top: 16px; padding-bottom: 16px; padding-left: 24px; padding-right: 16px; position: relative; border-radius: 16px; justify-content: flex-start; align-items: center; display: inline-flex">
                <div data-layer="Margin" class="Margin" style="padding-right: 24px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                  <div data-layer="Img" class="Img" style="width: 32px; height: 32px; position: relative">
                    <div data-layer="Vector" class="Vector" style="width: 26.04px; height: 22px; left: 3px; top: 5px; position: absolute; background: #C97040"></div>
                  </div>
                </div>
                <div data-layer="Container" class="Container" style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                  <div data-layer="Statistics" class="Statistics" style="align-self: stretch; justify-content: center; display: flex; flex-direction: column; color: #1C2E45; font-size: 18px; font-family: Poppins; font-weight: 400; line-height: 27px; word-wrap: break-word">Statistics</div>
                </div>
                <div data-layer="Container" class="Container" style="width: 270px; height: 64px; left: 0px; top: 0px; position: absolute; border-radius: 16px"></div>
              </div>
            </div>
            <div data-layer="Item" class="Item" style="width: 270px; height: 64px; opacity: 0.50; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
              <div data-layer="Link" class="Link" style="align-self: stretch; flex: 1 1 0; padding-top: 16px; padding-bottom: 16px; padding-left: 24px; padding-right: 16px; position: relative; border-radius: 16px; justify-content: flex-start; align-items: center; display: inline-flex">
                <div data-layer="Margin" class="Margin" style="padding-right: 24px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                  <div data-layer="Img" class="Img" style="width: 32px; height: 32px; position: relative; transform: rotate(53deg); transform-origin: top left">
                    <div data-layer="Vector" class="Vector" style="width: 37.38px; height: 37.38px; left: 3.74px; top: 3.74px; position: absolute; background: #C97040"></div>
                  </div>
                </div>
                <div data-layer="Container" class="Container" style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                  <div data-layer="Visitors" class="Visitors" style="align-self: stretch; justify-content: center; display: flex; flex-direction: column; color: #1C2E45; font-size: 18px; font-family: Poppins; font-weight: 400; line-height: 27px; word-wrap: break-word">Visitors</div>
                </div>
                <div data-layer="Container" class="Container" style="width: 270px; height: 64px; left: 0px; top: 0px; position: absolute; border-radius: 16px"></div>
              </div>
            </div>
            <div data-layer="Item" class="Item" style="align-self: stretch; opacity: 0.50; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
              <div data-layer="Link" class="Link" style="align-self: stretch; flex: 1 1 0; padding-top: 16px; padding-bottom: 16px; padding-left: 24px; padding-right: 16px; position: relative; border-radius: 16px; justify-content: flex-start; align-items: center; display: inline-flex">
                <div data-layer="Margin" class="Margin" style="padding-right: 24px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                  <div data-layer="Img" class="Img" style="width: 32px; height: 32px; position: relative">
                    <div data-layer="Vector" class="Vector" style="width: 26.67px; height: 26.67px; left: 2.67px; top: 2.66px; position: absolute; background: #C97040"></div>
                  </div>
                </div>
                <div data-layer="Container" class="Container" style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                  <div data-layer="Users" class="Users" style="align-self: stretch; justify-content: center; display: flex; flex-direction: column; color: #1C2E45; font-size: 18px; font-family: Poppins; font-weight: 400; line-height: 27px; word-wrap: break-word">Users</div>
                </div>
                <div data-layer="Container" class="Container" style="width: 270px; height: 64px; left: 0px; top: 0px; position: absolute; border-radius: 16px"></div>
              </div>
            </div>
            <div data-layer="Item" class="Item" style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
              <div data-layer="Link" class="Link" style="align-self: stretch; flex: 1 1 0; padding-top: 16px; padding-bottom: 16px; padding-left: 24px; padding-right: 16px; position: relative; border-radius: 16px; justify-content: flex-start; align-items: center; display: inline-flex">
                <div data-layer="Margin" class="Margin" style="padding-right: 24px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                  <div data-layer="Img" class="Img" style="width: 32px; height: 32px; position: relative">
                    <div data-layer="Vector" class="Vector" style="width: 22.67px; height: 21.33px; left: 5.33px; top: 5.34px; position: absolute; outline: 2.67px #C97040 solid; outline-offset: -1.33px"></div>
                  </div>
                </div>
                <div data-layer="Container" class="Container" style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                  <div data-layer="Sign Out" class="SignOut" style="align-self: stretch; justify-content: center; display: flex; flex-direction: column; color: #1C2E45; font-size: 18px; font-family: Poppins; font-weight: 400; line-height: 27px; word-wrap: break-word">Sign Out</div>
                </div>
                <div data-layer="Container" class="Container" style="width: 270px; height: 64px; left: 0px; top: 0px; position: absolute; border-radius: 16px"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>