{% extends 'layout.html.twig' %}

{% block title %}New Visit{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">

    {{ include('visit/_form.html.twig') }}

    {# <a href="{{ path('app_visit_index') }}">back to list</a> #}
{% endblock %}
