{% extends 'layout.html.twig' %}

{% block title %}New Visit{% endblock %}

{% block content %}
    <h1>Create new Visit</h1>

    {{ include('visit/_form.html.twig') }}

    <a href="{{ path('app_visit_index') }}">back to list</a>
{% endblock %}
