{% extends 'layout.html.twig' %}

{% block title %}New Visiteur{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <div class="card mt-5 mx-auto">
        <div class="card-body">
   
            {{ include('visiteur/_form.html.twig', { 'attr': {'class': 'needs-validation'} }) }}
            {# <a href="{{ path('app_visiteur_index') }}" class="btn btn-link mt-3">Retour à la liste</a> #}
        </div>
    </div>
{% endblock %}
