{% block body %}
	<nav class="navbar-custom">
		<div class="container-fluid p-0 d-flex align-items-center">
			<div class="d-flex align-items-center me-4">
				<img src="{{ asset('image/imgs/whatsapp_image_2025_05_28_at_18_27_27_1749274277647_206.png') }}" alt="Logo" class="navbar-logo">
				<span class="navbar-title">TravelParadise</span>
			</div>
			<div>{% block page %}
  				Dashboard
				{% endblock %}
			</div>
			<div class="navbar-search">
				<div class="search-box">
					<i class="bi bi-search"></i>
					<input type="text" class="search-input" placeholder="Search here...">
				</div>
			</div>
			<div class="navbar-actions ms-auto">
				<div class="language-selector">
					<img src="https://cdn-icons-png.flaticon.com/128/1077/1077114.png" class="flag" alt="EN">
					French (fr)
					<i class="bi bi-chevron-down"></i>
				</div>
				<div class="notification-btn">
					<i class="bi bi-bell"></i>
				</div>
				<div class="profile-menu">
					<div class="profile-image">
						<img src="{{ asset('images/profile_8zlvs7_x_webp_1749274277646_593.png') }}" alt="Profile" class="img-fluid">
					</div>
					<div class="profile-info">

						<span class="profile-name">FrajDev</span>

						<span class="profile-role">Admin</span>
					</div>
					<i class="bi bi-chevron-down"></i>
				</div>
			</div>
		</div>
	</nav>

{% endblock %}
