{% extends 'layout.html.twig' %}

{% block title %}New User
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ asset('css/style.css') }}">
		
		

	<div class="card mt-5">
		{{ include('user/_form.html.twig') }}
	</div>

	{# <a href="{{ path('app_user_index') }}">back to list</a>
	<button type="button" class="btn btn-dark">Dark</button> #}
	<script type="text/javascript" src="{{ asset('js/loginform.js') }}"></script>
{% endblock %}
