<div class="modal-header">
    <h5 class="modal-title">Détail utilisateur</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Rôles:</strong> {{ user.roles|json_encode }}</p>
    <p><strong>Profil:</strong> {{ user.profil }}</p>
    <p><strong>Statut:</strong> {{ user.status ? 'Actif' : 'Inactif' }}</p>
</div>
